.jumbotron {
  padding-top: 6rem;
  background-color: #86f7d5;
}

section {
  padding-top: 6rem;
}

.card-text {
  text-align: center;
  font-style: italic;
}

.img {
  padding-top: 6rem;
}
